<!--This HTML is based on templates from FreeCodeCamp, with formatting from W3 schools:
https://www.freecodecamp.org/news/html-starter-template-a-basic-html5-boilerplate-for-index-html/
https://www.w3schools.com/html/html_images_background.asp
It also borrows heavily from the Battle Star Galactica example provided in the assignment description.
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Transfer Central - your financial guide to professional football</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body style="background-image: url('/static/images/background.jpg'); background-repeat: no-repeat;background-attachment: fixed;
  background-size: 100% 100%;">
    <main style="width:100%;">
      <div id="nav" style="background-color: rgba(200, 200, 200, 0.8); text-align: center; width:100%">
        <nav class="navbar" style="display: block; text-align: center; padding: 5px;">
            <ul style="display: flex; padding: 0px; list-style: none">
                <li style="float: left;"><a href="{{ url_for('home') }}"style="display: block; text-align: center; padding: 15px">Index</a></li>
                <li style="float: left;"><a href="{{ url_for('players') }}"style="display: block; text-align: center; padding: 15px">Players</a></li>
                <li style="float: left;"><a href="transfers.html"style="display: block; text-align: center; padding: 15px">Transfers</a></li>
                <li style="float: left;"><a href="teams.html"style="display: block; text-align: center; padding: 15px">Teams</a></li>
                <li style="float: left;"><a href="{{ url_for('leagues') }}"style="display: block; text-align: center; padding: 15px">Leagues</a></li>
                <li style="float: left;"><a href="agents.html"style="display: block; text-align: center; padding: 15px">Agents</a></li>
            </ul>
        </nav>
      </div>
      <h1 style="color: #eee;">Transfer Central</h1>
      <h2 style="color: #eee; align-self: center;">Leagues</h2>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <div id="update" class="custom-form">
        <form id="updateLeague" action="/edit_league/{{league[0].leagueID}}" method="post">
            <legend><strong>Update League</strong></legend>
                <fieldset class="fields">
                <input type="hidden" id="leagueID" name="leagueID" value="{{league[0].leagueID}}">
                <label> Name </label> 
                <input type="text" name="name" value="{{league[0].leagueName}}">
                <label> Country </label> 
                <input type="text" name="country" value="{{league[0].country}}">
                <label> Rank </label> 
                <input type="text" name="rank" value="{{league[0].divisionRank}}">
                <label> Number of Teams </label> 
                <input type="text" name="numberTeams" value="{{league[0].numberOfTeams}}">
                <label> Year Founded </label> 
                <input type="text" name="yearFounded" value="{{league[0].yearFounded}}">
            </fieldset>
            <input class="btn" type="submit" id="UpdateSaveLeague" value="Update League">
            <a href='/leagues'>
                <input class="btn" type="button" value="Cancel">
            </a>
        </form> 
      </div>
      <p>&nbsp;</p>
    </main>
	<script></script>
  </body>
</html>